/*===================
ALL
====================*/
.fullscreen {
  height: 100vh;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

h3,
h6 {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*===================
NAVIGATION
====================*/
#Navbar {
  background-color: black;
}

div .bg-dark {
  background-color: black;
}

.btn-outline-info {
  color: white;
  border-color: white;
}

/*===================
LOGIN 
====================*/
.btn-primary {
  background-color: rgb(248, 141, 0);
  border-color: rgb(248, 141, 0);
}

/*===================
BLOG slideshow
====================*/
.zoom-wrapper {
  height: 400px;
  width: 800px;
  justify-content: space-between;
}

/*===================
BLOG posts
====================*/
.post-title {
  margin: auto;
  justify-content: space-around;
  padding: 10px;
}

.the-latest {
  margin: auto;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 30px;
}

.blog-title {
  margin: auto;
  height: auto;
  width: auto;
  justify-content: space-around;
  padding: 60px;
  padding-top: 0%;
  padding-bottom: 10px;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 42px;
  grid-row-gap: 3px;
}
