/*===================
ALL
====================*/
.fullscreen {
  height: 100vh;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 250px;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

h3,
h6 {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

/*===================
HOME
====================*/
.top-container {
  background-image: url(./images/homebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.curved-photo {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
}

/*===================
NAVIGATION
====================*/
#Navbar {
  background-color: black;
}

div .bg-dark {
  background-color: black;
}

.btn-outline-info {
  color: black;
  border-color: black;
}

/*===================
LOGIN 
====================*/
.btn-primary {
  background-color: rgb(248, 141, 0);
  border-color: rgb(248, 141, 0);
}

/*===================
BLOG slideshow
====================*/
.react-slideshow-container {
  height: 400px;
  width: 800px;
  margin: auto;
  padding-top: 60px;
}

.zoom-wrapper {
  height: 400px;
  width: 800px;
  justify-content: space-between;
}

/*===================
BLOG posts
====================*/
.post-title {
  margin: auto;
  justify-content: space-around;
  padding: 10px;
}

.the-latest {
  margin: auto;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 30px;
}

.blog-title {
  margin: auto;
  height: auto;
  width: auto;
  justify-content: space-around;
  padding: 60px;
  padding-top: 0%;
  padding-bottom: 10px;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 42px;
  grid-row-gap: 3px;
}
